@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), system-ui, sans-serif;
  --font-serif: var(--font-playfair), serif;
}

/* Puedes agregar estilos globales ligeros aquí si quieres */
body {
  background-color: white;
}
